@import '../../AllComponentsStyle.scss';

//Unchaning properties
.image-display {
	background-size: cover;
}

//Mobile Specific properties
.image-display {
	height: 100%;
	border-radius: $BorderRadius $BorderRadius 0px 0px;
	background-image: url(../../../Images/imageMobile.jpg);
}

@media screen and (min-width:$PrimaryBreakPoint) {
	//Desktop Specific properties
	.image-display {
		width: 100%;
		height: 100%;
		
		background-image: url(../../../Images/imageDesktop.jpg);

		border-radius: $BorderRadius 0px 0px $BorderRadius;
	}
}